<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="/scripts/scripts.js" defer></script>
    <title>Let's get cookin', <%= user.userName %> </title>
</head>
<body>
    <%- include('../partials/profileHeader') %>

    <main>

        <div class="profile-main">

            <div class="profile-recipes">

                <div class="profile-text">

                <h2>Welcome <%= user.userName %>!</h2>
                <a href="/users/<%= user._id %>/recipes/new">
                <h4>Add New Recipe</h4>
                </a>    

                </div>

                <div class="recipes-main">

                <h4>Recipes:</h4>
                <ul>
                <% user.recipes.forEach((recipe) => { %>
                <li class="recipe-box">
                <%= recipe.recipeTitle %>
                <a href="/recipes/<%= recipe._id %>"><button class="show-recipe-button">View</button></a>
                </li>
                <% }); %>
                </ul>     

                </div>

            </div>

        </div>

        

    </main>

</body>

</html>


</html>
