<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/scripts.js" defer></script>
    <title>Edit Recipe</title>
</head>
<body>
    <%- include('../partials/recipeHeader') %>
    <main>

    <section>
        <h2>Edit <%= recipeData.recipeTitle %> Recipe Data</h2>
       <form action='/recipes/<%= recipeData._id %>?_method=PUT' method='POST'>

        <div>
            <label for='recipeTitle'>Title:</label>
            <input type='text' id='recipeTitle' name='recipeTitle' value='<%= recipeData.recipeTitle %>' required>
        </div>

        <div>
            <label for='ingredients'>Ingredients:</label>
            <textarea id='ingredients' name='ingredients' rows='5' cols='30'><%= recipeData.ingredients %></textarea>
        </div>

        <div>
            <label for='instructions'>Instructions:</label>
            <textarea id='instructions'name='instructions'
                rows="10" cols="30"><%=recipeData.instructions%></textarea>
        </div>
    
        <div>
            <label for='recipeType'>Type:</label>
            <input type='text' id='recipeType' name='recipeType' value='<%= recipeData.recipeType %>'>
        </div>
        

        <button type='submit' class='submit-recipe'>Update</button>

        </form>
    </section>
    <br>
    <a href="/users/<%= recipeData.user._id %>">Go Back</a> 
    

    </main>

</body>
</html>
