<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page For <%= recipeData.recipeTitle %></title>
</head>
<body>

    
    <main>
        <section>
            <h3><%= recipeData.recipeTitle %></h3>
            <p><%= recipeData.ingredients %></p>
            <p><%= recipeData.instructions %></p>
            <p><%= recipeData.recipeType %></p>

            <form action='/recipes/<%= recipeData._id %>?_method=DELETE' method='POST'>
                <button type="submit">Delete</button>
            </form>

            <a href='/recipes/<%= recipeData._id %>/edit'>
                <button>Edit</button>
            </a>

        </section>
    </main>

</body>
</html>