<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/showRecipe.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">    
    <script src="/scripts/scripts.js" defer></script>
    <title>Show Page For <%= recipeData.recipeTitle %></title>
</head>

<body> 
        <%- include('../partials/recipeHeader') %>
   

    <h2><%= recipeData.user.userName %>'s Recipe for:</h2>

    <main>
        <section>
            <h3><%= recipeData.recipeTitle %></h3>
            <p><strong>Ingredients:</strong> <%= recipeData.ingredients %></p>
            <p><strong>Instructions:</strong> <%= recipeData.instructions %></p>
            <p><strong>Recipe Type:</strong> <%= recipeData.recipeType %></p>

            <form action='/recipes/<%= recipeData._id %>?_method=DELETE' method='POST'>
                <button class='button' type="submit">Delete</button>
            </form>

            <a href='/recipes/<%= recipeData._id %>/edit'>
                <button class='button'>Edit</button>
            </a>

        </section>

        <a href="/users/<%= recipeData.user._id %>"><button class='button'>Go Back</button></a>
    </main>

</body>

</html>
